body { 
	min-height: 100%; 
	background-color: #141D26;
}
#container {
	display: grid;
	grid-template-columns: 16;
	grid-template-rows: 16;
	grid-gap: 1px;
	height: 50vw;
	width: 50vw;
	margin: auto;
}
.square {
	background-color: white;
}
h1 {
	font-family: 'Finger Paint', cursive;
	font-size: 75pt;
	color: white;
	float: left;
	padding-left: 20px;
}
#reset {
	float: left;
	margin-top: 20vw;
	margin-left: -19vw;
	padding: 20px;
	padding-right: 500px;
	background-color: #00acee;
	font-size: 3em;
}
#yellow {
	background-color: yellow;
	margin-top: 30vw;
}
#green {
	background-color: green;
	margin-top: 35vw;
}
#pink {
	background-color: deeppink;
	margin-top: 40vw;
}
#blue {
	background-color: blue;
	margin-top: 30vw;
	margin-left: -27vw;
}
#orange {
	background-color: orange;
	margin-top: 35vw;
	margin-left: -27vw;
}
#red {
	background-color: red;
	margin-top: 40vw;
	margin-left: -27vw;

}
.colorButton {
	float: left;
	font-size: 2.5em;
	margin-left: -41.5vw;
	height: 70px;
	width: 200px;
	margin-top: 35vw;
}
#size {
	height: 120px;
	margin-top: 37vw;
	margin-left: -13.5vw;
	background-color: white;
}
button {
	border-radius: 25px;
	border-color: #243447;
	font-family: 'Finger Paint', cursive;
	box-shadow: 5px 5px;
}
